.g-encabezado {
	
	&.alineacionizquierda{
		text-align: left;
	}
	&.alineacioncentrado{
		text-align: center;
	}
	&.alineacionderecha{
		text-align: right;
	}
	
	.g-encabezado-titulo, .g-encabezado-subtitulo{
	display: inline-block;
	margin: 0;
	padding: 0 0 .5rem 0;
	line-height: 1.1;
	color:$accent-color-1;	
	}
	h1 {			
		font-size: 3.5rem;	        
	}
	h2 {
		font-size: 3rem;  
	}
	h3 {
		font-size: 2.5rem;    	    
	}
	h4 {
		font-size: 2rem;  
	}
	h5 {
		font-size: 1.5rem;   
	}

	i {
		margin-right:.5rem;
		&.alineacionarriba{
		display: block;			
		}
	}
	hr{		
	    height: 1px;
	    margin: 1rem 15%;
	    z-index: 999;
	    bottom: 0;
	    left: 20%;
	    right: 20%;
	    border: 0;
	    border-top: 1px solid;
	}

	p{
	margin: 0 0 1rem 0;
	}

}